<div class="container-fluid">
  <div class="row text-center">
    <h1>Welcome to Bright Ideas!</h1><br>
    <h4><em>Add an idea; delete it if you change your mind</em></h4>
    <h4><em>Like your favorites</em></h4>
    <h4><em>See who else likes an idea</em></h4>
    <h4><em>See what ideas other users liked</em></h4><br>
  </div>

  <div class="row">
    <div class="col-sm-offset-1 col-sm-3">
      <h2 class="heading">Have an idea?</h2>
    </div>
    <div class="col-sm-7">
      <form action="/ideas" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <textarea name="idea[content]" class="form-control" rows="8" cols="80"></textarea><br>
        <input class="btn" type="submit" value="Add the idea!">
      </form>
    </div>
  </div>

  <div class="row">
    <h2>Most Liked Ideas</h2>
  </div>
  <div class="row">
    <% if @ideas_ranked.length > 0 %>
      <table class="table">
        <% @ideas_ranked.each do |idea| %>
          <tr>
            <td><a href="/users/<%= idea.user.id %>"><%= idea.user.alias %></a> says "<%= idea.content %>"</td>
            <td>
              <% if idea.user === @current_user %>
                  <a href="/ideas/<%= idea.id %>" data-method="delete"><button type="button" class=btn name="button">Delete</button></a>
              <% end %>
            </td>
            <td>
              <% if idea.likers.include? @current_user %>
                Liked!
              <% else %>
                <form action="/likes" method="post">
                  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                  <input type="hidden" name="like[idea]" value="<%= idea.id %>">
                  <input class="btn" type="submit" value="Like">
                </form>
              <% end %>
            </td>
            <td><a href="/ideas/<%= idea.id %>"><%= idea.likes.count %> people</a> like this.</td>
          </tr>
        <% end %>
      </table>
    <% else %>
      <p>Hmm, nothing liked yet...</p>
    <% end %>

  </div>

  <div class="row">
    <h2>All Ideas</h2>
  </div>
  <div class="row">
    <% if @ideas.length > 0 %>

      <table class="table">
        <% @ideas.each do |idea| %>
          <tr>
            <td><strong><a href="/users/<%= idea.user.id %>"><%= idea.user.alias %></a></strong> says "<%= idea.content %>"</td>
            <td>
              <% if idea.user === @current_user %>
                <a href="/ideas/<%= idea.id %>" data-method="delete"><button type="button" class=btn name="button">Delete</button></a>
              <% end %>
            </td>
            <td>
              <% if idea.likers.include? @current_user %>
                Liked!
              <% else %>
                <form action="/likes" method="post">
                  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                  <input type="hidden" name="like[idea]" value="<%= idea.id %>">
                  <input class="btn" type="submit" value="Like">
                </form>
              <% end %>
            </td>
            <td><strong><a href="/ideas/<%= idea.id %>"><%= idea.likes.count %> people</a></strong> like this.</td>
          </tr>
        <% end %>
      </table>
    <% else %>
      <p>Hmm, no ideas yet...</p>
    <% end %>
  </div>
</div>
