<div class="container-fluid">
  <div class="row">
    <a href="/ideas"><button type="button" class="btn" name="button">See all of the Bright Ideas!</button></a>
  </div>

  <div class="row">
    <p><%= @idea.user.alias %> says: <%= @idea.content %></p>
  </div>

  <div class="row">
    <h4>Liked by</h4>
  </div>
  <div class="row">
    <table class="table">
      <thead>
        <th>Alias</th>
        <th>Name</th>
      </thead>
      <tbody>
        <% @idea.likers.each do |liker| %>
          <tr>
            <td><a href="/users/<%= liker.id %>"><%= liker.alias %></a></td>
            <td><%= liker.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
