<div class="container-fluid">
  <div class="row">
    <a href="/ideas"><button type="button" class="btn" name="button">See all of the Bright Ideas!</button></a>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <h4 class="heading">Name</h4>
    </div>
    <div class="col-sm-8">
      <p><%= @user.name %></p>
    </div>

    <div class="col-sm-4">
      <h4 class="heading">Alias</h4>
    </div>
    <div class="col-sm-8">
      <p><%= @user.alias %></p>
    </div>

    <div class="col-sm-4">
      <h4 class="heading">Email</h4>
    </div>
    <div class="col-sm-8">
      <p><%= @user.email %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <h4 class="heading">Total Number of Posts</h4>
    </div>
    <div class="col-sm-8">
      <p><%= @user.ideas.count %></p>
    </div>

    <div class="col-sm-4">
      <h4 class="heading">Total Number of Likes</h4>
    </div>
    <div class="col-sm-8">
      <p><%= @user.likes.count %></p>
    </div>
  </div>
</div>
